@import "./purple.css";

:root {
  --title-color: var(--text-color);
  --link-color: var(--lighter-text-color);
  --code-color: #222222;
  --border-quote: var(--border);
  --header-weight: bold;
  --inline-code-bg: #eee;
}
