@import "./purple.css";

:root {
  --title-color: var(--text-color);
  --link-color: #337ab7;
  --code-color: #0072be;
}

blockquote {
  border-left: 0.3rem solid #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
