@import "./purple.css";

:root {
  --select-text-bg-color: #dae3ea;
}
pre {
  --select-text-bg-color: #dae3ea;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: var(--text-color);
}

h1:after {
  border-bottom: 2px solid var(--text-color);
}

h2 {
  border-left: 9px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

/* inline code */
#write code,
tt {
  color: #3f3f44;
  background-color: var(--purple-light-1);
  border: 1px solid #e7eaed;
}

#write .md-footnote {
  color: #3f3f44;
  background-color: var(--purple-light-1);
  border: 1px solid #e7eaed;
}

/* 引用 */
blockquote {
  border-left: 0.2rem solid #dfe2e5;
}

/* 链接 */
a {
  color: var(--text-color);
  text-decoration: none;
}
#write a {
  border-bottom: 1px solid #777;
}
#write a:hover {
  border-bottom: 1px solid #777;
  color: #777;
  text-decoration: none;
}
.md-content {
  color: #777;
}
