@import "./purple.css";

/* inline code */
#write code,
tt {
  color: #3f3f44;
  background-color: var(--purple-light-1);
  border: 1px solid #e7eaed;
}

#write .md-footnote {
  color: #3f3f44;
  background-color: var(--purple-light-1);
  border: 1px solid #e7eaed;
}

blockquote {
  border-left: 0.2rem solid #dfe2e5;
}

/* 链接 */
a {
  color: var(--text-color);
  text-decoration: none;
}
#write a {
  border-bottom: 1px dashed #777;
}
#write a:hover {
  border-bottom: 1px dashed var(--purple-light-4);
  color: var(--link-color);
  text-decoration: none;
}
.md-content {
  color: #777;
}
