@import "./purple.css";

:root {
  --title-color: #444444;
  --select-text-bg-color: #dae3ea;
}
pre {
  --select-text-bg-color: #dae3ea;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
  color: var(--text-color);
}

/* inline code */
#write code,
tt {
  color: var(--link-color);
}

#write .md-footnote {
  color: var(--link-color);
}

blockquote {
  border-left: 0.2rem solid #dfe2e5;
}

/* 链接 */
a {
  color: var(--link-color);
  text-decoration: none;
}
#write a:hover {
  border-bottom: 1px solid var(--link-color);
  color: var(--link-color);
  text-decoration: none;
}
.md-content {
  color: #777;
}
