@import "./purple.css";

:root {
  --title-color: #444444;
  --link-color: #2aa899;
  --code-color: #2aa899;
}

blockquote {
  border-left: 0.3rem solid #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
