@import "./purple.css";

/* inline code */
#write code,
tt {
  padding: 2px 4px;
  border-radius: 2px;
  font-family: var(--font-monospace);
  font-size: 0.92rem;
  color: var(--purple-3);
  background-color: rgba(99, 99, 172, 0.05);
}

#write .md-footnote {
  background-color: #f8f8f8;
  color: var(--purple-3);
}
